<section>
    <a href="/dashboard"> &larr; back to dashboard</a>
  <h2 class="title">create a post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="post title here"/>
    </div>
    <div>
      <label for="post-content">Post:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert post here"/>
    </div>
    <button type="submit" class="button">Create Post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script> 