<div>
<h2 class="title">Login:</h2><hr>
<form class="login-form">
  <div>
    <label for="username-login">Username:</label>
    <input type="username" id="username-login" />
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
    <a href="/signup"><button type="button">Sign Up</button></a>
  </div>
</form>
</div>

<script src="/javascript/login.js"></script>